<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="mongologue-old">
            <directory suffix="Test.php">./tests/</directory>
        </testsuite>
        <testsuite name="mongologue-new">
            <directory suffix="Spec.php">./tests/</directory>
        </testsuite>
    </testsuites>
</phpunit>